{{ define "main" }}
<main class="container px-2 lg:px-6 lg:max-w-4xl mx-auto my-4 mb:my-8 lg:my-16">
  <div class="shadow-md p-4 md:p-6 lg:p-8 xl:p-16 relative bg-white dark:bg-slate-800 rounded-xl prose prose-p:text-justify max-w-none lg:prose-xl prose-slate dark:prose-invert prose-headings:font-sans prose-headings:tracking-tight prose-p:font-serif prose-ol:font-serif prose-ul:font-serif prose-pre:dark:border prose-pre:dark:border-slate-700">
    <h1 class="font-black mb-4 leading-tight tracking-tight">{{ .Title }}</h1>
    <div class="justify-center">
      {{- .Content -}}
      
    </div>
  </div>
</main>
{{ end }}
  