<!DOCTYPE html>
<html lang="{{ .Lang }}"  x-data="{ darkMode: localStorage.getItem('dark') === 'true'}" x-init="$watch('darkMode', val=>localStorage.setItem('dark', val))" :class="{ 'dark': darkMode }">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noodp" />
    <title>{{- block "title" . -}}{{- partial "head/title" . -}}{{- end -}}</title>
    {{- partial "head/meta.html" . -}}
    {{- partial "head/link.html" . -}}
    {{- partial "head/seo.html" . -}}
    {{- partial "head/schema.html" . -}}
    {{- partial "head/breadcumbs.html" . -}}


</head>

<body class="antialiased dark:text-slate-200 bg-slate-50 dark:bg-slate-900">
    <nav class="backdrop-blur-xl transition-colors duration-500 supports-backdrop-blur:bg-white/95 sticky top-0 z-40  font-semibold leading-6 shadow-md">
        {{- partial "header.html" . -}}
    </nav>
    {{- block "section1" . -}}{{- end -}}
    {{- block "section2" . -}}{{- end -}}
    {{- block "main" . -}}{{- end -}}
    {{- block "section3" . -}}{{- end -}}
    {{- block "section4" . -}}{{- end -}}
    <footer class="text-center lg:text-left bg-slate-800 text-gray-100">
        {{- partial "footer.html" . -}}
    </footer>
    {{- partial "scroll-top.html" . -}}
    {{- partial "head/google.html" . -}}
    {{- partial "head/script.html" . -}}
</body>

</html>