{{ define "main" }}
<div class="container lg:max-w-3xl mt-16 mx-auto px-4">
  <h1 class="text-3xl font-bold tracking-tight mb-2">
      
    {{ $tagname := split .Page.Title " " }}
    {{ range $tagname }}
      {{ . | humanize }}
    {{ end }} 
  </h1>
  <p class='text-lg mb-8 text-slate-500 dark:text-slate-300'>{{ .Params.description }}</p>
  <div class="grid grid-cols-1 gap-8 mb-6">
    {{- range .Pages -}}
    {{- $count := len .Pages -}}  
    <div class="flex items-center gap-4 shadow-md p-4 rounded-lg bg-white dark:bg-slate-800 hover:shadow-lg" >
      <div class="shrink-0 h-20 w-20 md:h-40 md:w-40">
        {{- if .Params.Images -}}
        <img class="lazyload rounded-md h-auto w-full dark:brightness-75 lazyloaded" src="{{ index .Params.Images 0 | absURL }}" loading="lazy" data-sizes="auto" alt="{{ partial "helpers/title" . }}" />
        {{else}}
          <img class="lazyload rounded-md h-auto w-full dark:brightness-75 lazyloaded" src="{{ absURL (default "images/icon_math.svg" .Site.Params.logo2) }}" data-sizes="auto" loading="lazy" alt="{{ partial "helpers/title" . }}">
        {{- end -}} 
      </div>
      <div class="grow">
        <h2 class="text-xl font-bold mb-2 tracking-tight line-clamp-2">
          <a href="{{ .Page.Permalink }}" class="text-gray-900 dark:text-gray-100 hover:text-bluem-500 dark:hover:underline font-bold">{{ .Page.Title }}</a>
        </h2>
        <p class="focus:outline-none text-gray-700 dark:text-gray-200 text-sm lg:text-base pr-4 tracking-wide mt-2">{{ .Page.Params.description }}</p>
      </div>
      <div class="shrink-0 px-4 hidden md:flex flex-col gap-4 justify-start md:justify-center text-sm">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>          
          <b class="text-slate-700 dark:text-slate-100">{{ mul 3 $count}}</b> 
          <span class="text-slate-500 dark:text-slate-400 xs:hidden sm:inline md:inline">Menit</span>
        </span>
        <span><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" fill="none" viewBox="0 0 24 24" stroke="currentcolor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg><b class="text-slate-700 dark:text-slate-100">{{ $count }}</b> <span class="text-slate-500 dark:text-slate-400 xs:hidden sm:inline md:inline">Artikel</span></span>
        <span><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" fill="none" viewBox="0 0 24 24" stroke="currentcolor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M16 7A4 4 0 118 7a4 4 0 018 0zm-4 7a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg><b class="text-slate-700 dark:text-slate-100">Level</b> <span class="text-slate-500 dark:text-slate-400 xs:hidden sm:inline md:inline">SMA</span></span></div>
    </div>
    {{ end }}
  </div>
</div>
  {{ end }}