{{ define "main" }}
<div class="container text-center md:max-w-xl my-16 md:my-32 mx-auto px-8">
  <div class="mx-auto"><img class="mx-auto w-40 mb-8" alt="Offline" src="/img/offline.svg" data-src="/img/offline.svg" loading="lazy" width="88" height="94"></div>
  
  <h1 class="uppercase font-bold text-sky-600 dark:text-sky-400 mb-4">{{ i18n "offline_title" }}</h1>
  <h2 class="text-3xl font-bold mb-4">Kamu Sedang Offline, Periksa Koneksi ya!</h2>
  <div class="text-base mb-8">{{ i18n "offline_info" }}</div>
  <div class="">
    <a class="px-3 py-2 font-semibold border dark:bg-slate-800 border-sky-600 shadow-md hover:bg-sky-600 dark:hover:bg-sky-600 focus:ring-2 hover:text-white focus:ring-sky-400 rounded-lg active:bg-sky-500 active:scale-95 mr-2" href="{{ absLangURL "/" }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 inline">
        <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
        <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
      </svg>
      {{ i18n "home" }}
    </a>
    <a class="px-3 py-2 font-semibold border dark:bg-slate-800 border-sky-600 shadow-md hover:bg-sky-600 dark:hover:bg-sky-600 focus:ring-2 hover:text-white focus:ring-sky-400 rounded-lg active:bg-sky-500 active:scale-95 mr-2" href="javascript: window.history.back();">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 inline">
        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-4.28 9.22a.75.75 0 000 1.06l3 3a.75.75 0 101.06-1.06l-1.72-1.72h5.69a.75.75 0 000-1.5h-5.69l1.72-1.72a.75.75 0 00-1.06-1.06l-3 3z" clip-rule="evenodd" />
      </svg>
      
      {{ i18n "go_back" }}
    </a>
    <a class="px-3 py-2 font-semibold border dark:bg-slate-800 border-sky-600 shadow-md hover:bg-sky-600 dark:hover:bg-sky-600 focus:ring-2 hover:text-white focus:ring-sky-400 rounded-lg active:bg-sky-500 active:scale-95 mr-2" href="javascript: window.location.reload();">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 inline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
      </i>{{ i18n "try_again" }}
    </a>
  </div>
</div>
{{ end }}
