<div class="text-sm text-neutral-500 dark:text-neutral-400">

  <div class="flex flex-row flex-wrap items-center">
    {{- range $key, $value := .Site.Taxonomies -}}
    {{- range ($.GetTerms $key) -}}
    <span class="flex"><a href="{{ .Permalink }}"
        class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-600 ring-1 ring-inset ring-blue-500/10 mx-1">#{{
        .Name }}</a></span>
    {{- end -}}
    {{- end -}}
  </div>
  {{- if and (default true (default .Site.Params.readingTime .Params.readingTime)) -}}
  <div class="flex flex-row flex-wrap items-center my-4">
    <span class="post-reading-time">
      {{ i18n "reading_time" . }}
    </span>
    {{- end -}}
  </div>
</div>