{{- $enable := and (default true .Params.toc) (default true .Site.Params.toc) -}}
{{- $wordCount := default 280 .Site.Params.tocWordCount -}}
{{- $toc := .TableOfContents -}}
{{- $valid := and $toc (and (ne $toc "<nav id=\"TableOfContents\"></nav>") (gt .WordCount $wordCount)) -}}
{{- if and $enable $valid -}}
<div class="font-sans bg-blue-200 p-2">
    <h5 class="text-xl font-semibold text-slate-500 dark:text-slate-200">{{ i18n "table_of_contents" }}</h5>

    <div class="not-prose ">
        <hr class="m-0 border-slate-400/25" />
    </div>
    <div class='text-base'>
        {{ $toc }}
    </div>
</div>
{{- end -}}