{{- partial "head/favicons" . -}}
<meta name="keywords" content="{{ if .IsPage }}{{ delimit .Keywords ", " }}{{ else }}{{ $.Site.Params.keywords }}{{ end }}" />
<meta name="description" content="{{ if .IsPage }}{{ .Description }}{{ else }}{{ $.Site.Params.description }}{{ end }}" />
{{- template "_internal/schema.html" . -}}
{{ template "_internal/opengraph.html" . }}
{{- template "_internal/twitter_cards.html" . -}}
{{- partial "head/meta" . -}}
{{- partial "head/feed" . -}}
{{- partial "head/site-verification" . -}}
{{- if eq .Permalink (absLangURL "search/") -}}
<meta data-name="search-index" content="{{ absLangURL "index.json" }}">
{{- end -}}

{{ $mainStyle := resources.Get "css/main.css" | postCSS }}
{{ $iconStyle := resources.Get "css/icon.css" }}
{{- $highlightStyle := resources.Get "css/highlight.css" -}}
{{- $customStyle := resources.Get "css/custom.css" -}}
{{- $custom2Style := resources.Get "css/customs.css" -}}

{{ if .Site.IsServer }}
<!-- Gunakan Tailwind dari CDN -->
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<script>
  tailwind.config = {
    darkMode: "class",
    theme: {
      extend: {
        "colors": {
          "bluem": {
            "50": "#37b7ed",
            "100": "#2dade3",
            "200": "#23a3d9",
            "300": "#1999cf",
            "400": "#0f8fc5",
            "500": "#0585bb",
            "600": "#007bb1",
            "700": "#0071a7",
            "800": "#00679d",
            "900": "#005d93"
          },
          
        },
      },
    },
    
  }
</script> 
{{ $styles := slice $customStyle $custom2Style $highlightStyle $iconStyle | resources.Concat "css/main.css" | resources.Minify | resources.Fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" data-turbo-track=reload />
{{ else }}
<!-- gunakan Tailwind dari hasil build -->
{{ $styles := slice $customStyle $custom2Style $mainStyle $highlightStyle $iconStyle | resources.Concat "css/main.css" | resources.Minify | resources.Fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" data-turbo-track=reload />
{{ end }}



{{- if or .Params.math .Site.Params.math -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>
{{- end -}}

{{ if .Site.IsServer }}
<!--kosong-->
{{ else }}
{{- partial "assets/google-tag" . -}}
{{- partial "assets/google-analitic" . -}}
{{- partial "assets/google-adsense" . -}}

{{ end }}

{{- $script := resources.Get "js/alpine.js" | js.Build "main.js" | minify -}}
<script type="text/javascript" src="{{ $script.Permalink }}" data-turbo-track=reload defer></script>
<!--
{{- $script2 := resources.Get "js/turbo.js" | js.Build "turbo.js" | minify -}}
<script type="text/javascript" src="{{ $script2.Permalink }}" data-turbo-track=reload defer></script>
-->
{{- if or .Params.math .Site.Params.math -}}
<meta name="turbo-visit-control" content="reload">
{{- partial "assets/katex/js" . -}}
{{- end -}}

<link rel="preconnect" href="https://mazguru.disqus.com" crossorigin>
<script id="dsq-count-scr" src="//mazguru.disqus.com/count.js" async></script>

     <!-- Google tag (gtag.js) -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8PWTK6TMB"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
     
       gtag('config', 'G-H8PWTK6TMB');
     </script>