<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" crossorigin></script>
<script>
window.googletag=window.googletag||{cmd:[]};
googletag.cmd.push(function(){
  var e=googletag.sizeMapping().addSize([1024,0],[[970,250],[970,90],[728,250],[728,90]]).addSize([800,0],[[728,250],[728,90]]).addSize([0,0],[[336,280],[300,250]]).build(),t=googletag.sizeMapping().addSize([1024,0],[[970,90]]).addSize([800,0],[[728,90]]).addSize([0,0],[[320,50]]).build();
  googletag.defineSlot("/22809721961/SinauMatematika/Multibanner1",[[336,280],[300,250]],"div-gpt-ad-multibanner1").addService(googletag.pubads()),googletag.pubads().enableLazyLoad({fetchMarginPercent:500,renderMarginPercent:200,mobileScaling:2}),googletag.pubads().enableSingleRequest(),googletag.pubads().setCentering(!0);
  googletag.enableServices();
  })
</script>